#1. Condition

In [3]:
name = input('What is your name : ')

What is your name : cat

In [ ]:
if name == 'bird':
    print("I could fly to you")
else:
    print("I could walk to you")

In [4]:
if name == 'bird':
    print("I could fly to you")
elif name == 'pig':
    print("I could walk to you")
else:
    print("I could stay to you")

I could stay to you

#2. Loop

In [ ]:
num = int(input('Multiplication table of : '))

In [ ]:
for i in range(1, 10):
    print(num, 'X', i, '=', num*i)

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d X %2d = %5d" %(i, j, i*j))
    print("----------------")

In [ ]:
num = int(input('Multiplication table of : '))
i = 1
while i < 10:
    print(num, 'X', i, '=', num*i)
    i += 1

In [ ]:
i = 2
while i < 10:
    j = 1
    while j < 10:
        print("%2d X %2d = %5d" %(i, j, i*j))
        j += 1
    print("----------------")
    i += 1

In [ ]:
stationfares = [
            {"station": "청량리", "fare": 1500},
            {"station": "성북", "fare": 1800},
            {"station": "의정부", "fare": 2000},
            {"station": "소요산", "fare": 2500}
        ]

In [ ]:
stations = []
fares = []
for stationfare in stationfares:
    stations.append(stationfare["station"])
    fares.append(stationfare["fare"])
print(stations)
print(fares)